
#main{  
    margin-top: 0px;
    padding-left: 0px; 
    position: relative;
    background-image: linear-gradient(rgb(158, 144, 144)94%, rgb(230, 220, 220));
    background-color: grey;
    outline-color: rgb(158, 144, 144) ;
    outline-:rgb(211, 201, 201)  solid 1px;
    margin left: 0px;
    width: 100%;
    height:100px;
}

  
.logo
{
    
    position: absolute;
    right: 150px;
    top: -55px;
    width: 8%;
    color: white;
    margin-right: 290px;
    margin-top: 90px;
    float:right;
    clear: right;
}
.home1{
    position: relative;
    right: -1260px;
    top: 38px;
    

   
}
#menu
{   
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 800px;
    left: 460px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 18px;
   
    
  }
  
  
  #menu li:hover
  {
      color: blue;
      transition: 0.5s;
  }
  #fmenu li:hover
  {
      color: blue;
      transition: 0.5s;
  }

.sbar{
    position: relative;
    top: 24px;
    left: 440px;
margin-left: 50px;
border-radius: 4px 4px 40px 4px;



}

 .search
    {
        width: 50px;
        height: 12px;
        border-radius: 4px 4px 40px 4px;
    }

.boxsearch1
{
    position: relative;
    top: -20px;
    width: 182px;
    height:17px;
    border:2px solid black;
    border-radius: 4px 4px 40px 4px; 
   
}
.psearch{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    position: relative;
    top:-15px;
    left: 190px;
    height: 50px;
    
  
    
}
.dropbtn1 ,.dropbtn2 ,.dropbtn3 ,.dropbtn4 ,.dropbtn5 ,.dropbtn6 ,.dropbtn7
{
    
    position: relative;
    border-right: 2px solid rgb(170, 170, 170);
    display: inline;
    padding:0px 15px 0px 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color:rgba(240, 255, 240, 0);
    
    
}
.second
{
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 800px;
}

.images
{
    
    position: absolute;
    width: 100%;
  
}
.p1 
{   border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    left: 755px;
    margin-top: 40px;
    margin-left: 348px;
    width:280px;
    height: 340px;
    border-color:opx solid rgb(196, 196, 196);
    border-radius: 2px 2px 30px 2px;
    box-shadow: 0px 0px 1px 1px #000000;
   
}
.p2 
{   border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    left: 100px;
    margin-top: 40px;
    margin-left: 70px;
    width:280px;
    height: 340px;
    border-color:opx solid rgb(196, 196, 196);
    border-radius: 2px 2px 30px 2px;
    box-shadow: 0px 0px 1px 1px #000000;
   
}
.p3 
{   border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
    left: 200px;
    margin-top: 40px;
    margin-left: -685px;
    width:280px;
    height: 340px;
    border-color:opx solid rgb(196, 196, 196);
    border-radius: 2px 2px 30px 2px;
    box-shadow: 0px 0px 1px 1px #000000;
   
}
.third
{
    position: relative;
    left: 255px;
    margin-top: -370px;
    display: flex;
    flex-direction: row;
    height: 380px;
    margin-left: -150px;
}
.tbox1
{
    background-image: linear-gradient(rgb(255, 253, 253)60%, rgb(230, 228, 228));
    margin-top: -30px;
    margin-left: 402px;
    border: 2px solid rgb(223, 223, 223);
    width: 276px;
    height: 250px;
    border-radius: 0px 20px 0px 0px;
}
.tbox2
{
    background-image: linear-gradient(rgb(255, 253, 253)60%, rgb(230, 228, 228));
    margin-top: -30px;
    margin-left: -42px;
    border: 2px solid rgb(223, 223, 223);
    width: 275px;
    height: 250px;
    border-radius: 0px 20px 0px 0px;
}
.tbox3
{
    background-image: linear-gradient(rgb(255, 253, 253)60%, rgb(230, 228, 228));
    margin-top: -30px;
    margin-left: 18px;
    border: 1px solid rgb(223, 223, 223);
    width: 275px;
    height: 250px;
    border-radius: 0px 20px 0px 0px;
}
.img1
{
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 150px;
}
.img2
{
    position: relative;
    left: 10px;
    margin-top: 30px;
    width: 250px;

        
}
.img3
{   
    position: relative;
    right: 10px;
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
    
}
.title1
{
    padding-bottom: 5px;
    margin-right: 20px;
    position: relative;
    font-weight: bolder;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-left: 30px;
    border-bottom: 2px solid grey;
    text-align: center;
    font-size: 12px;
}
.title2 {
    padding-bottom: 5px;
    margin-left: 30px;
    padding-left: 190px;
    display: inline-block;
    font-weight: bolder;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    display:  inline-block;
    border-bottom: 2px solid grey;
    text-align: right;
    font-size: 12px;

}
.title3 {
    padding-bottom: 5px;
    font-weight: bolder;
    word-spacing: -0px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-left: 6px;
    display: inline-block;
    border-bottom: 2px solid grey;
    font-size: 11.5px;
}

.second .images .p1:hover{
        border: 1px solid rgb(173, 173, 173);
}
.second .images .p2:hover{
    border: 1px solid rgb(173, 173, 173);
}
.second .images .p3:hover{
    border: 1px solid rgb(173, 173, 173);
}

footer
{     position: fixed; 
    width: 100%;
    height: 250px;
      background-color: rgb(158, 144, 144);     
      font-family: Arial, Helvetica, sans-serif;
      margin-top: -100px;
   
    
  }
   
  .btn1 ,.btn2 ,.btn3 ,.btn4 ,.btn5 ,.btn6 ,.btn7,.btn8
{
    position: relative;
    left: 520px;
    top: -10px;
    border-right: 2px solid rgb(170, 170, 170);
    display: inline;
    padding:0px 7px 0px 7px;
    font-size: 14px;
       color: rgb(255, 255, 255);
    background-color:rgba(240, 255, 240, 0);
}

.btn9{
    position: relative;
    left: 520px;
    top: -10px;
    border-right: 2px solid rgb(170, 170, 170);
    display: inline;
    padding:0px 10px 0px 15px;
    font-size: 12px;
       color: rgb(255, 0, 0);
    background-color:rgba(240, 255, 240, 0);
}
.faceb{

border: 5px solid black;
}

.ltitle3{
    display: relative;
    text-decoration: underline;
    padding-bottom: 5px;
    font-weight: bold;
    word-spacing: -0px;
    margin-top: 190px;
    margin-left: -250px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-bottom: 2px solid grey;
    font-size: 12px;
}
.ltitle2{
    display: relative;
    text-decoration: underline;
    padding-bottom: 5px;
    font-weight: bold;
    word-spacing: -0px;
    margin-top: 30px;
    margin-left:25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
        font-size: 12px;
}
.textbox1{
    padding-left: 20px;
    position: relative;
    top: 30px;
    left:-70px;
    height: 60px;
    width: 40px;
}

.tbox1text1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding-left:5px;
    
font-size: 15px;
padding-top: 2px;
   list-style-type: none;
}
.tbox1text2{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 15px;
    padding-top: 2px;
       list-style-type: none;
    }
.tbox1text3{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
        font-size: 15px;
        padding-top: 2px;
           list-style-type: none;
        }

.tbox1text1:hover,.tbox1text2:hover,.tbox1text3:hover,.ltitle3:hover,.ltitle2:hover
{
color: blue;

}
.icon{
    background: url("/rm-yellow.png") no-repeat;
    position: relative;
    left: -115px;
}
.icon:hover
{
     content: url("/rm-white.png");
    
}
.icont1
{
    position: relative;
    left: -40px;
}
.icont1:hover
{
     content: url("/rm-white.png");
}


.dropdown-content1 {

    display: none;
    position: absolute;
    margin-top: 15px;
    margin-left: -80px;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 250px;
    
  }

  .dropdown-content1 a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
  }
    .dropdown-content1 a:hover {background-color: #ddd;}

    .drop1:hover .dropdown-content1 {display: block;}
    
    .dropdown:hover .dropbtn1 {background-color: #14e6db;}

    .dropdown-content2 {

        display: none;
        position: absolute;
        margin-top: 30px;
        margin-left: -90px;
        background-color: #f1f1f1;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height: 180px;
        
      }
    
      .dropdown-content2 a {
        color: black;
        padding: 12px 14px;
        text-decoration: none;
        display: block;
      }
        .dropdown-content2 a:hover {background-color: #ddd;}
    
        .drop2:hover .dropdown-content2 {display: block;}
        
        .dropdown:hover .dropbtn2 {background-color: #14e6db;}
    
        .dropdown-content3 {

            display: none;
            position: absolute;
            margin-top: 30px;
            margin-left: -20px;
            background-color: #f1f1f1;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            height: 180px;
            
          }
        
          .dropdown-content3 a {
            color: black;
            padding: 12px 14px;
            text-decoration: none;
            display: block;
          }
            .dropdown-content3 a:hover {background-color: #ddd;}
        
            .drop3:hover .dropdown-content3 {display: block;}
            
            .dropdown3:hover .dropbtn3 {background-color: #14e6db;}


           

            .textp1{
            
                text-align: right;
                padding-right: 10px;
                width: 267px;
                height: 125px;
                background-color: rgba(128, 128, 128, 0.726);
                position: relative;
                color: white;
                font-size: 16px;
                right: -1105px;
                top: -150px;
                border-radius: 0px 0px 20px 0px;
                
            }
            .textp2{
                text-align: right;
                 width: 275px;
                 height: 110px;
                 background-color: rgba(128, 128, 128, 0.726);
                 position: relative;
                 color: white;
                 font-size: 16px;
                 left: 807px;
                 top: -280px;
                 border-radius: 0px 0px 20px 0px;
             }
             .textp3{
                text-align: right;
                 width: 275px;
                 height: 110px;
                 background-color: rgba(128, 128, 128, 0.726);
                 position: relative;
                 color: white;
                 font-size: 16px;
                 left: 507px;
                 top: -410px;
                 border-radius: 0px 0px 20px 0px;
             }

  .contact
    {
position: relative;
bottom: 700px;
left: 500px;
width: 30%;
margin-top: -47px;

             }

          
        